<style type="text/css">.error {color: red;}</style>

<body>
<img src="images/boazbf.png" alt="foo" width="500" height="500">


<h1>Pick Up Details</h1>
<form action="/" method="POST" novalidate>
	<div>
		{{ with .Errors.Name }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label>Your Name:</label></p>
		<p><input type="name" name="name" value="{{ .Name }}"></p>
	</div>
	<div>
		{{ with .Errors.Phone }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label>Your Phone Number:</label></p>
		<p><input type="phone" name="phone" value="{{ .Phone }}"></p>
	</div>
	<div>
		{{ with .Errors.Email }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label>Your email:</label></p>
		<p><input type="email" name="email" value="{{ .Email }}"></p>
	</div>
	<div>
		{{ with .Errors.Restaurant }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label>The Restaurant Name:</label></p>
		<p><input type="restaurant" name="restaurant" value="{{ .Restaurant }}"></p>
	</div>
	<div>
		{{ with .Errors.DateTime }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label>Date and Time of Pickup:</label></p>
		<p><input type="datetime-local" name="datetime" value="{{ .DateTime }}"></p>
	</div>
	<div>
		{{ with .Errors.Content }}
		<p class="error" >{{ . }}</p>
		{{ end }}
		<p><label>Order Details:</label></p>
		<p><textarea name="content">{{ .Content }}</textarea></p>
	</div>
	<div>
		<input type="submit" value="Send message">
	</div>
</form>
</body>
