<style type="text/css">.error {color: red;}</style>
<link rel="stylesheet" href="css/styles.css">

<div class="bottomAnim"></div>
<img src="images/boazbf.png" class="center" type="top_pic" alt="boazpic" width="1000" height="500">

<form action="/" method="POST" novalidate>
	<div>
		{{ with .Errors.Name }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label class="col-25" type="label">Your Name:</label>
		<input class="col-75" type="text" name="name" value="{{ .Name }}"></p>
	</div>
	<div>
		{{ with .Errors.Phone }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label class="col-25">Your Phone Number:</label>
		<input class="col-75" type="text" name="phone" value="{{ .Phone }}"></p>
	</div>
	<div>
		{{ with .Errors.Address }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label class="col-25">Your Delivery Address:</label>
		<input class="col-75" type="text" name="address" value="{{ .Address }}"></p>
	</div>
    <div>
		{{ with .Errors.BusyKidNum }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label class="col-25">BusyKid Payment Cofirmation Number:</label>
		<input class="col-75" type="text" name="busykidnum" value="{{ .BusyKidNum }}"></p>
	</div>
	<div>
		{{ with .Errors.Email }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label class="col-25">Your email:</label>
		<input class="col-75" type="text" name="email" value="{{ .Email }}"></p>
	</div>
	<div>
		{{ with .Errors.Restaurant }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label class="col-25">The Restaurant Name:</label>
		<select  class="col-74" type="select" name="restaurant" value="{{ .Restaurant }}">
			<option value="">Please choose an option</option>
			<option value="King Soupers">King Soupers MLK</option>
			<option value="Annette">Annette</option>
			<option value="Cattivella">Cattivella</option>
   			<option value="Cheluna">Cheluna</option>
			<option value="Cholon">Cholon</option>
			<option value="ChiLin">Chi Lin / Qi-Lin</option>
			<option value="Chook">Chook</option>
			<option value="Churreria">Churreria De Madrid</option>
			<option value="Comida">Comida</option>
			<opiton value="Constellation">Constellation Ice Cream</opiton>
			<option value="DBC">Denver Biscuit Co.</option>
			<option value="HashTag">Hash Tag</option>
			<option value="Logan">Logan House Coffee</option>
			<option value="Los Chingones">Los Chingones</option>
			<option value="MariaEmpanada">Maria Empanada</option>
			<option value="Miette">Miette Et Chocolat</option>
			<option value="Misaki">Misaki Sushi</option>
			<option value="Mondo">Mondo Market</option>
			<option value="NextDoor">Next Door</option>
			<option value="RollingSmoke">Rolling Smoke BBQ</option>
			<option value="Rosenbergs">Rosenberg's Bagels</option>
			<option value="StanleyBeerHall">Stanley Beer Hall</option>
			<option value="SweetCow">Sweet Cow</option>

		</select></p>
	</div>
	<div>
		{{ with .Errors.DateTime }}
		<p class="error">{{ . }}</p>
		{{ end }}
		<p><label class="col-25">Date and Time of Pickup:</label>
		<input  class="col-74" type="datetime-local" name="datetime" value="{{ .DateTime }}"></p>
	</div>
	<div>
		{{ with .Errors.Content }}
		<p class="error" >{{ . }}</p>
		{{ end }}
		<p><label class="col-25">Order Details:</label>
		<textarea class="col-74" type="textarea" name="content">{{ .Content }}</textarea></p>
	</div>
	<div>
		<input  class="center" type="submit" value="Send Delivery Order">
	</div>
</form>
